body {
   font-family: avenir;
   color: #303030;
   font-size:16px;
   font-color:#f0efed;
}

.sidenav {
  height: 90%;
  width: 55%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin-left:22.5%;
  margin-top:2%;
  background-color: #f0efed;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  font-family: avenir;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #858381;
  display: block;
  text-align:center;
}

.responsive {
  max-width: 70%;
  max-height: 40%;
  height:auto;
  position: relative;
}

.sidenav a:hover {
  color: #303030;
}

h2 {text-align:center;
    font-size:36px;}
h4 {text-align:center;
    font-size: 18px;}

img {
     border-radius:50%;
    }

p {margin-left:2%;
   font-size:12px;
  }

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-height: 50px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

